 <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand lead" href="/verificar">💀Sell Point CUT</a>
  </div>
  <div class="collapse navbar-collapse justify-content-end mr-2" id="navbarsExampleDefault">
      <ul class="navbar-nav text-right ms-auto mb-2 mr-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/verificar">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tienda">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link w-auto" href="/logout">Salir</a>
        </li>
      </ul>
  </div>
</nav>
 