<link rel="stylesheet" href="/css/styleMensajes.css">
{{#if success}}
<div class="contMensaje">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Exito: </strong> {{success}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/if}}

{{#if message}}
<div class="contMensaje">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Nuevo mensaje: </strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/if}}

{{#if danger}}
<div class="contMensaje">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error: </strong> {{danger}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/if}}