<link rel="stylesheet" href="css/admin.css">
{{> cabeceraAdmin}}
{{> mensajes}}
{{> menuAdmin}}
<div class="container-fluid">
    <form action="/admin/producto/registro" method="post">
  <div class="row">
    <main class="main col-md-9 ms-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-2 mt-3">

        
            <div class="col container mt-5">
                <h3>Registrar Producto</h3>
                <br>
                <div class="form-row">

                  <div class="col-md mb-3">
                    <label for="nombre">Nombre Producto</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="true"> 
                  </div>

                  <div class="col-md mb-3">
                    <label for="cantidad">Cantidad</label>
                    <input type="text" class="form-control" name="cantidad" placeholder="Solo enteros" required="true" onkeypress="return isNumberKey(event)">
                  </div>

                  <div class="col-md mb-3">
                    <label for="precioC">Precio de Compra</label>
                    <input type="text" class="form-control" name="precioC" placeholder="Solo decimales" required="true" onkeypress="return isNumberDoubleKey(event)">
                  </div>

                  <div class="col-md mb-4">
                    <label for="precioV">Precio de Venta</label>
                    <input type="text" class="form-control" name="precioV" placeholder="Solo decimales" required="true" onkeypress="return isNumberDoubleKey(event)">
                  </div>

                </div>
           </div>
            
            <div class="col container mt-5">

                <div class="form-row ">
                  <div class="col-md mb-3">
                    <label for="nombre">Departamento</label>
                    <select class="form-select" name="departamento" aria-label="Default select example" required="true">
                        {{#each departamentos}}
                        <option value="{{iddepartamento}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                  </div>

                  <div class="col-md mb-3 d-grid gap-2">
                    <button type="submit" class="btn btn-outline-primary" >Guardar Producto</button>
                  </div>
            </div>
            </form>

      </div>
    </main>
  </div>
</div>

<script>
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function isNumberDoubleKey(evt){
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode != 46 &&(charCode < 48 || charCode > 57)))
            return false;
        return true;
    }
</script>