{{> mensajes}}
<div class="d-flex flex-column h-100" data-new-gr-c-s-check-loaded="14.1041.0" data-gr-ext-installed="">
    <!-- Begin page content -->
    <main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Bienvenido</h1>
        <p class="lead">Los tres Inges👻, se enorgullecen de presentar <b>💀Sell Point CUT</b>, nuestro primer punto de venta :)</p>
        <p>Para ingresar al punto de venta solo de click <a href="/signin">aquí</a></p>
    </div>
    </main>

    <style>
        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
        }

    </style>
    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
        <span class="text-muted">Creado con <b>amor</b> por los tres Inges👻</span>
    </div>
    </footer>
</div>